.formLable{
  border-radius:10px 0 0 10px;
  border:1px solid #3a3a3a;
  background:#FFF5EE;
}
.formInput{
  border-radius:0 10px 10px 0;
  border:1px solid #3a3a3a;
  border-left:none;
  background:#FFF5EE;
}