<main class="flexcol plr20">
  
  <!-- headline title list -->
  <section class="none">
    <app-headline-titles></app-headline-titles>
  </section>

  <!-- list selections -> latest, category -->
  <section class="none">
    
  </section>

  <!-- main news container -->
  <section class="flex bor pt30 pb50 non bor">
    <app-main-content class="bor hw100"></app-main-content>
  </section>

  <!-- visual stories -->
  <section class="flex bor non">
    <app-visual-stories class="w100 ptb10 bor"></app-visual-stories>
  </section>

  <!-- latest updates container -->
  <section class="flex bor non">
    <app-latest-articles class="mt-14 w100 ptb10 bor"></app-latest-articles>
  </section>

  <!-- category news container -->
  <section></section>
  
</main>