<main class="flexcol rel h-100 bor">
  <section
    class="flex authenticationMain transparentBg abs h-100 w100 bg5 z-40 fixed"
    *ngIf="displayAuthPage && !urlDashboard"
  >
    <div class="flexmid hw100 rel bor">
      <div class="hw100 abs bor" (click)="handelAuthPage()"></div>
      <div class="abs bor bor mb80">
        <div class="hw100">
          <app-auth (manageAuthPage)="handelAuthPage()"></app-auth>
        </div>
      </div>
    </div>
  </section>

  <app-header
    class="bor"
    *ngIf="!urlDashboard"
    (manageAuthPage)="handelAuthPage()"
  ></app-header>

  <section class="fg1">
    <router-outlet class=""></router-outlet>
  </section>
  <app-footer class="bor" *ngIf="!urlDashboard"></app-footer>
</main>
<!-- 

eyJhbGciOiJIUzI1NiJ9.eyJyb2xlcyI6WyJlZGl0b3IiLCJyZWFkZXIiLCJhZG1pbiJdLCJzdWIiOiJrcml0ZXNoQGdtYWlsLmNvbSIsImlhdCI6MTcyMzAyNTk2NiwiZXhwIjoxNzIzMDI5NTY2fQ.JCpdbvdQzwT1VswPJeB8orQ7SHz9eUZZ3HtW_eVGJZQ

-->